#GroupoPC {
    position: absolute;
    width: 1920px;
    height: 1644.594px;
    left: 0px;
    top: 3812px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
}

#Prensa {
    fill: rgba(74, 154, 119, 1);
}

.Prensa {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1550px;
    left: 0px;
    top: 0px;
}

#Clientes {
    fill: rgba(48, 45, 71, 1);
}

.Clientes {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1550px;
    left: 0px;
    top: 545px;
}

#curvaAzul {
    fill: rgba(48, 45, 71, 1);
}

.curvaAzul {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1550px;
    left: 0px;
    top: 1482px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#GrupoFraseVerde {
    position: absolute;
    width: 639px;
    height: 691px;
    left: 185px;
    top: 2036px;
    overflow: visible;
}

#CuadroVerde {
    fill: rgba(91, 180, 85, 1);
}

.CuadroVerde {
    overflow: visible;
    position: absolute;
    width: 639px;
    height: 691px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Mi_negocio_creci_hasta_un_70__ {
    left: 51px;
    top: 51px;
    position: absolute;
    overflow: visible;
    width: 547px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 52px;
    color: rgba(253, 250, 250, 1);
}

#Ellipse_367 {
    fill: rgba(253, 250, 250, 1);
}

.Ellipse_367 {
    position: absolute;
    overflow: visible;
    width: 208px;
    height: 208px;
    left: 43px;
    top: 434px;
}

#Icon_awesome-user-tie {
    fill: rgba(48, 45, 71, 1);
}

.Icon_awesome-user-tie {
    overflow: visible;
    position: absolute;
    width: 112.891px;
    height: 129.018px;
    left: 89.514px;
    top: 472.434px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#John_Doe {
    left: 290px;
    top: 435px;
    position: absolute;
    overflow: visible;
    width: 219px;
    white-space: nowrap;
    line-height: 108px;
    margin-top: -28.5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 51px;
    color: rgba(253, 250, 250, 1);
}

#CEO_de {
    left: 340px;
    top: 507px;
    position: absolute;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -18px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(253, 250, 250, 1);
}

#b10 {
    position: absolute;
    width: 379px;
    height: 96px;
    left: 213px;
    top: 555px;
    overflow: visible;
}

#Group_11396 {
    position: absolute;
    width: 1936.734px;
    height: 1108.903px;
    left: -11.156px;
    top: 916.088px;
    overflow: visible;
}



#Path_229 {
    fill: rgba(253, 250, 250, 1);
}

.Path_229 {
    overflow: visible;
    position: absolute;
    width: 1931.156px;
    height: 814.846px;
    left: 5.578px;
    top: 240.912px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_11399 {
    position: absolute;
    width: 1920px;
    height: 739px;
    left: 0px;
    top: 139px;
    overflow: visible;
    transition: all 0.6000000238418579s ease-in-out;
    --web-animation: fadein 0.6000000238418579s ease-in-out;
    --web-action-type: page;
}

#Group_Inicio {
    position: absolute;
    width: 1920px;
    height: 739px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ManosCel {
    position: absolute;
    width: 949px;
    height: 739px;
    left: 971px;
    top: 0px;
    overflow: visible;
}

#Rectangle_splash {
    fill: rgba(48, 45, 71, 1);
}

.Rectangle_splash {
    position: absolute;
    overflow: visible;
    width: 1118px;
    height: 739px;
    left: 0px;
    top: 0px;
}

#Abre_las_puertas {
    left: 154px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 829px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: lighter;
    font-size: 75px;
    color: rgba(246, 246, 246, 1);
}

#Tesseract_empresa_100_mexicana {
    left: 140px;
    top: 432.5px;
    position: absolute;
    overflow: visible;
    width: 821px;
    height: 159.16041564941406px;
    line-height: 44px;
    margin-top: -11px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
}

#Rectangle_avisopriv {
    fill: rgba(253, 250, 250, 1);
}

.Rectangle_avisopriv {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 6207.594px;
}

#Aviso_de_privacidad {
    left: 1200px;
    top: 6252.594px;
    position: absolute;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(48, 45, 71, 1);
}

#Line_68 {
    fill: transparent;
    stroke: rgba(193, 193, 193, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_68 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1px;
    left: -8.367px;
    top: 6207.594px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_11514 {
    position: absolute;
    width: 1936.734px;
    height: 780.497px;
    left: -9.734px;
    top: 5427.098px;
    overflow: visible;
}

#Path_299 {
    fill: rgba(48, 45, 71, 1);
}

.Path_299 {
    overflow: visible;
    position: absolute;
    width: 1936.734px;
    height: 367.405px;
    transform: translate(8.367px, -4528.504px) matrix(1, 0, 0, 1, -8.3668, 4528.5029) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Rectangle_683 {
    fill: rgba(48, 45, 71, 1);
}

.Rectangle_683 {
    position: absolute;
    overflow: visible;
    width: 1930.367px;
    height: 675px;
    left: 0px;
    top: 105.496px;
}

#Solo_algunas_menciones_de_los_ {
    left: 428px;
    top: 3889.594px;
    position: absolute;
    overflow: visible;
    width: 1065px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    color: rgba(253, 250, 250, 1);
}

#Partners {
    left: 851px;
    top: 4980.594px;
    position: absolute;
    overflow: visible;
    width: 220px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    color: rgba(48, 45, 71, 1);
}

#Hecho_posible_con_Tesseract {
    left: 1000px;
    top: 1866px;
    position: absolute;
    overflow: visible;
    width: 627px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(246, 246, 246, 1);
}

#Cosechando_el_xito_de_tu_negoc {
    left: -2137px;
    top: 1159px;
    position: absolute;
    overflow: visible;
    width: 849px;
    white-space: nowrap;
    line-height: 55px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(246, 246, 246, 1);
}

#Nuestras_Soluciones {
    left: 39px;
    top: 997px;
    position: absolute;
    overflow: visible;
    width: 533px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    color: rgba(0, 0, 0, 1);
}

#Group_11599 {
    position: absolute;
    width: 1920px;
    height: 64px;
    left: 0px;
    top: 878px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
}

#Rectangle_4365 {
    fill: rgba(74, 154, 119, 1);
}

.Rectangle_4365 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 64px;
    left: 0px;
    top: 0px;
}

#Estamos_Contratando_Consulta_n {
    left: 518px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 886px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: rgba(48, 45, 71, 1);
}

#Nuestros_Clientes {
    left: 731px;
    top: 4445.594px;
    position: absolute;
    overflow: visible;
    width: 459px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    color: rgba(253, 250, 250, 1);
}

#Cmo_podemos_ayudar {
    left: 475.633px;
    top: 5598.594px;
    position: absolute;
    overflow: visible;
    width: 383px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(246, 246, 246, 1);
}

#La_Morena_811_Int_401_Narvarte {
    left: 1379px;
    top: 5690.059px;
    position: absolute;
    overflow: visible;
    width: 377px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(246, 246, 246, 1);
}

#Mapa {
    left: 1379px;
    top: 5455px;
    position: absolute;
    overflow: visible;
}

#n_2_55_7826_9422__52_55_7826_9 {
    left: 1379px;
    top: 5829.059px;
    position: absolute;
    overflow: visible;
    width: 409px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(246, 246, 246, 1);
}

#contactotesseractmx {
    left: 1379px;
    top: 5932.059px;
    position: absolute;
    overflow: visible;
    width: 252px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(246, 246, 246, 1);
}

#Icon_material-location-on {
    fill: transparent;
    stroke: rgba(87, 186, 97, 1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Icon_material-location-on {
    overflow: visible;
    position: absolute;
    width: 39.383px;
    height: 55.895px;
    left: 1300.262px;
    top: 5690.559px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-facebook-f {
    fill: rgba(253, 250, 250, 1);
}

.Icon_awesome-facebook-f {
    overflow: visible;
    position: absolute;
    width: 30.469px;
    height: 56.889px;
    left: 1404.762px;
    top: 6033.668px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-twitter {
    fill: rgba(253, 250, 250, 1);
}

.Icon_awesome-twitter {
    overflow: visible;
    position: absolute;
    width: 56.889px;
    height: 46.203px;
    left: 1499.646px;
    top: 6039.01px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-linkedin {
    fill: rgba(253, 250, 250, 1);
}

.Icon_awesome-linkedin {
    overflow: visible;
    position: absolute;
    width: 49.777px;
    height: 49.777px;
    left: 1721.354px;
    top: 6035.438px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_54 {
    fill: transparent;
    stroke: rgba(87, 186, 97, 1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_54 {
    overflow: visible;
    position: absolute;
    width: 50.275px;
    height: 40.82px;
    left: 1294.762px;
    top: 5927.059px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_55 {
    fill: transparent;
    stroke: rgba(87, 186, 97, 1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_55 {
    overflow: visible;
    position: absolute;
    width: 51.455px;
    height: 20.137px;
    left: 1294.762px;
    top: 5931.785px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_PiedePagina {
    position: absolute;
    width: 130px;
    height: 33px;
    left: 70px;
    top: 6241.594px;
    overflow: visible;
}

#Icon {
    position: absolute;
    width: 39px;
    height: 33px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Name {
    position: absolute;
    width: 83px;
    height: 20px;
    left: 47px;
    top: 2px;
    overflow: visible;
}

#Line_54 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 30px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_54 {
    overflow: visible;
    position: absolute;
    width: 424.996px;
    height: 25px;
    left: 145.633px;
    top: 5730.094px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}

#Line_55 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 30px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_55 {
    overflow: visible;
    position: absolute;
    width: 424.994px;
    height: 25px;
    left: 763.133px;
    top: 5730.094px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#Line_56 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 30px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_56 {
    overflow: visible;
    position: absolute;
    width: 424.998px;
    height: 25px;
    left: 145.633px;
    top: 5832.094px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#Line_57 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 30px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_57 {
    overflow: visible;
    position: absolute;
    width: 424.994px;
    height: 25px;
    left: 763.133px;
    top: 5832.094px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#Line_58 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 30px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_58 {
    overflow: visible;
    position: absolute;
    width: 424.996px;
    height: 25px;
    left: 145.633px;
    top: 5940.094px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#Line_59 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 30px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_59 {
    overflow: visible;
    position: absolute;
    width: 424.996px;
    height: 25px;
    left: 763.133px;
    top: 5940.094px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#Line_60 {
    fill: transparent;
    stroke: rgba(253, 250, 250, 1);
    stroke-width: 25px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 40;
    shape-rendering: auto;
}

.Line_60 {
    overflow: visible;
    position: absolute;
    width: 424.725px;
    height: 25px;
    left: 145.633px;
    top: 6041.164px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#Nombre_completo {
    left: 158.633px;
    top: 5685.594px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    --web-animation: fadein 0s snap;
    --web-action-type: page;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Telfono {
    left: 158.633px;
    top: 5785.594px;
    position: absolute;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Correo_electrnico_ {
    left: 771.633px;
    top: 5685.594px;
    position: absolute;
    overflow: visible;
    width: 187px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Nombre_de_la_empresa_ {
    left: 771.633px;
    top: 5785.594px;
    position: absolute;
    overflow: visible;
    width: 231px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Sitio_Web_de_la_empresa {
    left: 158.633px;
    top: 5894.594px;
    position: absolute;
    overflow: visible;
    width: 240px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Puesto_dentro_de_la_empresa_ {
    left: 771.633px;
    top: 5894.594px;
    position: absolute;
    overflow: visible;
    width: 290px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Icon_awesome-asterisk {
    fill: rgba(253, 250, 250, 1);
    stroke: rgba(188, 4, 4, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Icon_awesome-asterisk {
    overflow: visible;
    position: absolute;
    width: 5.615px;
    height: 6.031px;
    left: 336.285px;
    top: 5690.059px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-asterisk_ey {
    fill: rgba(253, 250, 250, 1);
    stroke: rgba(188, 4, 4, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Icon_awesome-asterisk_ey {
    overflow: visible;
    position: absolute;
    width: 5.615px;
    height: 6.031px;
    left: 999.875px;
    top: 5790.598px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-asterisk_ez {
    fill: rgba(253, 250, 250, 1);
    stroke: rgba(188, 4, 4, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Icon_awesome-asterisk_ez {
    overflow: visible;
    position: absolute;
    width: 5.615px;
    height: 6.031px;
    left: 955.328px;
    top: 5690.059px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rectangle_17_e {
    fill: transparent;
    stroke: rgb(164, 47, 47);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_17_e {
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 192.492px;
    height: 59.994px;
    left: 571px;
    top: 6136px;
}

#Enviar {
    left: 625px;
    top: 6144px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgb(30, 26, 26);
}

#Tipos_de_solicitud {
    left: 158.633px;
    top: 5995.594px;
    position: absolute;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(253, 250, 250, 1);
}

#Polygon_5 {
    fill: rgba(253, 250, 250, 1);
    stroke: rgba(48, 45, 71, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Polygon_5 {
    overflow: visible;
    position: absolute;
    width: 40px;
    height: 20px;
    transform: matrix(1, 0, 0, 1, 552.3194, 6008.0938) rotate(180deg);
    transform-origin: center;
    left: 185px;
    top: 0px;
}

#Reconozco_que_he_ledo_y_entend {
    left: 792px;
    top: 5997.594px;
    position: absolute;
    overflow: visible;
    width: 395px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253, 250, 250, 1);
}



#Group_11407 {
    position: absolute;
    width: 1654px;
    height: 124px;
    left: 133px;
    top: 4630.594px;
    overflow: visible;
}

#b1 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#b2 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 581px;
    top: 0px;
    overflow: visible;
}

#b3 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 1163px;
    top: 0px;
    overflow: visible;
}

#Group_11408 {
    position: absolute;
    width: 1654px;
    height: 124px;
    left: 133px;
    top: 5140.594px;
    overflow: visible;
}

#a4 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#c1 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 581px;
    top: 0px;
    overflow: visible;
}

#c2 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 1163px;
    top: 0px;
    overflow: visible;
}

#Group_11406 {
    position: absolute;
    width: 1654px;
    height: 131px;
    left: 133px;
    top: 4064.594px;
    overflow: visible;
}

#f1 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#f2 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 581px;
    top: 0px;
    overflow: visible;
}

#f3 {
    position: absolute;
    width: 491px;
    height: 124px;
    left: 1163px;
    top: 7px;
    overflow: visible;
}

#Group_11663 {
    position: absolute;
    width: 166px;
    height: 37px;
    left: 488px;
    top: 784px;
    overflow: visible;
}

#Rectangle_17_fk {
    fill: transparent;
    stroke: rgba(131, 204, 132, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_17_fk {
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 184px;
    height: 55px;
    left: 0px;
    top: 0px;
}

#Registro {
    left: 36px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 94px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(87, 186, 97, 1);
}

#Icon_awesome-phone-alt {
    fill: transparent;
    stroke: rgba(87, 186, 97, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Icon_awesome-phone-alt {
    overflow: visible;
    position: absolute;
    width: 39.033px;
    height: 39.033px;
    left: 1300.953px;
    top: 5823.898px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-instagram {
    fill: rgba(253, 250, 250, 1);
}

.Icon_awesome-instagram {
    overflow: visible;
    position: absolute;
    width: 54.354px;
    height: 54.34px;
    left: 1602.605px;
    top: 6033.67px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}


@media (max-width: 400px) {
    .Icon_awesome-instagram {
        width: auto;
        max-width: 350px;
    }

    .Icon_awesome-phone-alt {
        width: auto;
        max-width: 350px;
    }

    .Prensa {
        position: absolute;
        overflow: visible;
        width: 12%;
        height: 15%;
    }

    #Abre_las_puertas {
        padding: 10px;
        left: 10px;
        top: 53px;
        width: 82px;
        font-size: 33px;
        color: rgba(246, 246, 246, 1);
    }

    #ManosCel {
        position: absolute;
        width: 94px;
        height: 739px;
        left: 971px;
        top: 10px;
        overflow: visible;
        flex: auto;
    }

    #Group_11399 {
        position: absolute;
        width: auto;
        height: auto;
        left: 0px;
        top: 139px;
    }

    #Tesseract_empresa_100_mexicana {
        left: 40px;
        top: 260px;
        width: 326px;
        height: 159px;
        line-height: 44px;
        font-size: 20px;
        display: inline;
        color: rgba(255, 255, 255, 1);
        flex: auto;   
        margin: 10px auto;     
        padding: 5px;
    }

    #Nuestras_Soluciones {
        left: 10px;
        top: 997px;
        width: 400px;
        font-size: 38px;
        color: rgba(0, 0, 0, 1);
    }
    
    #Registro {
        left: 36px;
        width: -40px;
    
        font-size: 25px;
        color: rgba(87, 186, 97, 1);
    }

    #Estamos_Contratando_Consulta_n {
        left: 7px;
        top: 11px;
        width: 400px;
        font-size: 20px;
        color: rgb(248, 248, 248);
        text-align: center;
    }

    #Rectangle_4365 {
        width:1500%
    }

    #Enviar1{
        text-align: center; 
        align-self: auto;
        background-color: rgba(87, 186, 97, 1);
        color: white;
        margin-left: auto;
        margin-right: auto;
        font-size: large;
        display: block;
        
    }

}